# SPDX-FileCopyrightText: 2024-2026 [open]aptx developers
# SPDX-License-Identifier: MIT
---
BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
---
Language: Cpp
AccessModifierOffset: -4
AlignEscapedNewlines: DontAlign
AllowShortFunctionsOnASingleLine: Inline
Cpp11BracedListStyle: false
IndentPPDirectives: AfterHash
PointerAlignment: Middle
SortIncludes: CaseInsensitive
UseTab: ForIndentation
---
